@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --header-height: 65px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

/*general texts*/
.redText {
  color: #FF0000;
}

/*specifics*/

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deleteButton {
  color: #FF0000;
}